#mainDiv {
  width: 100%;
  margin: 0 px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}